@media screen and (max-width: 768px) {
    .card-container {
        display: flex;
        flex-direction: column;
    }
}

.card-flip {
    background-color: rgba(248, 249, 250, 1) !important;
}

.card-wrong-answer {
    color: red !important;
}

.card-correct-answer {
    color: green !important;
}